.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem;
}

.header img {
  width: auto;
  height: 75px;
  margin-left: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 25px;
  display: flex;
  justify-content: center;
}

.nav-links li {
  position: relative; /* Position relative on li - crucial for dropdown */
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.nav-links a:hover {
  color: #2994a8;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.dropdown-content {
  max-height: 0; /* Initially hidden */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: white;
  position: absolute; /* Absolute positioning */
  top: 100%; /* Position below the parent li */
  left: 0; /* Align to the left of the parent li */
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000; /* Higher z-index */
  display: none; /* Hidden by default */
}

.dropdown-content.active {
  max-height: 500px; /* Adjust as necessary */
  overflow: visible; /* Make sure content is visible when expanded */
  display: block; /* Shown when active */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.chevron-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left: 10px; /* Adjust as needed */
  color: white; /* Make the chevron white (or your desired color) */
  display: inline-flex; /* Use inline-flex for alignment */
  align-items: center; /* Vertically center the chevron */
}

.chevron-icon.active {
  transform: rotate(180deg);
}

/* Burger menu */
.burger-icon {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 10px;
}

.burger-icon .bars,
.burger-icon .times {
  display: flex;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  color: white;
  height: 3vh;
}

.burger-icon .bars {
  opacity: 1;
}

.burger-icon .times {
  opacity: 0;
}

.burger-icon.open .bars {
  transform: rotate(90deg);
  opacity: 0;
}

.burger-icon.open .times {
  transform: rotate(90deg);
  opacity: 1;
}

/* Media Queries */
@media (max-width: 1024px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: black;
    align-items: center;
    z-index: 2;
    overflow: hidden;
  }

  .nav-links.active {
    display: flex;
    font-size: 3vh;    
  }

  ul {
    flex-direction: column;
    margin-bottom: 6vh;
  }

  .burger-icon {
    display: block;
  }

  .dropdown-content {
    position: relative; /* Relative on mobile */
    top: auto;
    left: auto;
    background-color: black;
    box-shadow: none;
    padding: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    display: none; /* Hidden by default on mobile too */
  }

  .dropdown-content.active {
    max-height: 500px; /* Adjust as necessary */
    display: block; /* Shown when active */
  }

  .dropdown-content a {
    color: white;
  }

  .dropdown-content a:hover {
    background-color: #333;
  }

  .dropdown {
    margin-left: 15px;
  }

  .nav-links li { /* Make sure list items take full width */
    display: block;
  }

  .nav-links a { /* Make sure links take full width */
    display: block;
  }

  .chevron-icon {
    position: relative; /* Relative on mobile */
    top: auto;
    right: auto;
    transform: none; /* Remove transform on mobile */
    margin-left: 10px; /* Adjust as needed */
    display: inline-flex;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .header img {
    height: 50px;
  }
  
  .nav-links.active {
    margin: 0;
  }

  .burger-icon {
    margin-top: 6vw;
  }
}